<div class="front">
	<div class = "main">
		<h1><%= @title %></h1>
		<br />
		<% if @users.any? %>
			<br />
			<ul class="users">
				<%= render @users %>
			</ul>
		<% end %>
	</div>
	<div class="sidebar round">
		<strong>Name</strong> <%= @user.name %><br />
		<strong>URL</strong> <%= link_to user_path(@user), @user %><br />
		<strong>Microposts</strong> <%= @user.microposts.count %>
		<%= render "shared/stats" %>
		<% if @users.any? %>
			<div class="image_grid">
				<% @users.each do |user| %>
					<%= link_to gravatar_for(user, :size => 30), user %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>